.ProductDetail {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.ColumnLeft {
  display: block;
}

.ColumnLeft img {
  width: 35vw;
}

.ColumnCenter {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.ColumnCenter img {
  width: 11vw;
}

.ColumnRight {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: 35vw;
}

.ImgNull {
  background-color: grey;
  width: 100px;
  height: 100px;
}

.prueba button {
  margin: 20px;
  display: block;
  position: relative;
}

img.positionSuperpuesta {
  border: 1px solid red;
  margin: 20px;
  position: absolute;
}
